
.menu{
    right: 0;
    position: absolute;
}
body {
    font-family: verdana, Arial;
    font-size: 12px;
    line-height:1;
    background: #fff;
}
.logo{
    width: 190px;
    height: 60px;
    float: left;
    margin-top: 8px;
}
div.search {padding: 10px 0}
.search_form {
    position: relative;
    width: 400px;
    margin: 0 auto;
}
.d3 {background: #fff;}
.d3 form {
    border: 1px solid #ff5000;
    border-radius: 10px;()
    background: #fff;
}
.d3 input, .d3 button {
    border: none;
    outline: none;
    background: transparent;
}
.d3 input {
    width: 370px;
    height: 42px;
    padding-left: 15px;
}
.d3 button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d3 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #d39e00;
}
.goods_Info{
    margin-top: 20px;
}
