
body{
    background: url("/image/register_bg.jpg");
    width: 100%;
    height: 100%;
    text-align: center;
}
h1{
    color: #fff;
    margin-top: 10px;
}
.form-horizontal{
    width: 310px;
    height: 400px;
    margin: 40px auto auto auto;
    border-radius: 10px;
    border: 0.5px solid;
    background-color: #fff;
    padding-top: 12px;
}
h2{
    margin-bottom: 25px;
}

.center_content{
    border-collapse:separate;
    border-spacing:0 10px;
    color: white;
    margin: auto;
}
p{
    margin-top: 10px;
}
.below_button{
    text-align: center;
}
.footer {
    bottom: 0;
    position: fixed;
    left: 38%;
}